[Unit]
Description=Membrane inflammatory response watchdog timer

[Timer]
OnBootSec=60
OnUnitActiveSec=120
AccuracySec=10

[Install]
WantedBy=timers.target
